<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{padding: 10px;text-decoration: none}
        a:nth-child(2){border-right: 1px solid black;border-left: 1px solid black;}
    </style>
</head>

<body>
   <div class="container">
        <a href="/api/users"> Home</a>
        <a href="/api/users/create"> Add new User</a>
        <a href="/api/users/list"> User List</a>
   </div>
</body>

</html>